In [1]:
import pandas as pd

strokes = pd.read_csv('stroke.csv', index_col='id', sep=',')

strokes.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
9046,Male,67.0,No,Yes,Yes,Private,Urban,228.69,36.6,formerly smoked,Yes
51676,Female,61.0,No,No,Yes,Self-employed,Rural,202.21,NaN,never smoked,Yes
31112,Male,80.0,No,Yes,Yes,Private,Rural,105.92,32.5,never smoked,Yes
60182,Female,49.0,No,No,Yes,Private,Urban,171.23,34.4,smokes,Yes
1665,Female,79.0,Yes,No,Yes,Self-employed,Rural,174.12,24.0,never smoked,Yes

In [ ]:
print(strokes.sort_values(by=['bmi', 'id'], ascending=[False,True]))

       gender    age hypertension heart_disease ever_married      work_type  \
id
56420    Male  17.00          Yes            No           No        Private
51856    Male  38.00          Yes            No          Yes        Private
41097  Female  23.00          Yes            No           No        Private
545      Male  42.00           No            No          Yes        Private
37759  Female  53.00           No            No          Yes        Private
...       ...    ...          ...           ...          ...            ...
69160    Male  59.00           No            No          Yes        Private
69768  Female   1.32           No            No           No       children
70042    Male  58.00           No            No          Yes        Private
70676  Female  76.00           No            No          Yes       Govt_job
72231  Female  47.00           No            No          Yes  Self-employed

      Residence_type  avg_glucose_level   bmi   smoking_status stroke
id
56420          Rural              61.67  97.6              NaN     No
51856          Rural              56.90  92.0     never smoked     No
41097          Urban              70.03  78.0           smokes     No
545            Rural             210.48  71.9     never smoked     No
37759          Rural              72.63  66.8              NaN     No
...              ...                ...   ...              ...    ...
69160          Rural             211.78   NaN  formerly smoked    Yes
69768          Urban              70.37   NaN              NaN    Yes
70042          Urban              71.20   NaN              NaN    Yes
70676          Rural              62.57   NaN  formerly smoked    Yes
72231          Rural             195.61   NaN     never smoked     No

[5110 rows x 11 columns]

In [ ]:
print(strokes['age'])

id
9046     67.0
51676    61.0
31112    80.0
60182    49.0
1665     79.0
         ...
18234    80.0
44873    81.0
19723    35.0
37544    51.0
44679    44.0
Name: age, Length: 5110, dtype: float64
Index([ 9046, 51676, 31112, 60182,  1665, 56669, 53882, 10434, 27419, 60491,
       ...
       68398, 36901, 45010, 22127, 14180, 18234, 44873, 19723, 37544, 44679],
      dtype='int64', name='id', length=5110)